body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}



.line_purple {
    height: 3px;
    background-color: rgb(128, 0, 128);
}

.topnav {
    background-color: rgb(255, 237, 251);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.topnav a {
    color: rgb(60, 0, 90);
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active_window {
    color: white;
    background-color: rgb(128, 0, 128);
    padding: 10px 20px;
    border-radius: 5px;
}

.line_grey {
    height: 1px;
    background-color: rgb(204, 204, 204);
}
.checkbox-left, .checkbox-right {
    width: 50%;
    float: left;
    text-align: left;}

#body {
    display: flex;
    margin: 30px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;

}

#left-content {
    float: left;
    width: 40%;
    text-align: center;
    height: 100%;
    border-right: 1px solid rgb(141, 141, 141);
    padding-bottom: 450px;
}

#right-content {
    float: right;
    width: 50%;
    text-align: left;
    padding-top: 80px;
}
#squeeze{
    padding-left: 20px;
    padding-right: 20px;
}

#img {
    border-radius: 50%;
    width: 305px;
    margin-bottom: 20px;
    padding-top: 20px;
}

#sc-text-top {
    font-size: 36px;
    margin-bottom: 10px;
}

#sc-text-mid {
    font-size: 24px;
    color: rgb(111, 111, 111);
    margin-bottom: 10px;
}

#sc-text-bot {
    font-size: 18px;
    color: rgb(157, 64, 203);
}
#eveything{

  padding-bottom: 10px;
}

#bottom-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 10px;

    
  }
  
  .resume-main {
    clear: both; /* clear previous float */
  }
  #resume-left {
    float: left; /* float left */
    width: 50%; /* set width to 50% */
  }
  #resume-right {
    float: right; /* float right */
    width: 50%; /* set width to 50% */
    text-align: right; /* align text to right */
  }
  .prog_bar{
    width: 30vw;

  }
    

@media (max-width: 1000px) {
    #left-content, #right-content {
        width: 100%;
        float: none;
        text-align: center;
        border-right: none;
        padding-bottom: 0px;
        }
    #right-content {

    padding-top: 0px;
        border-top: 1px solid rgb(141, 141, 141);
    }

  .prog_bar{
    width: 50vw;

  }
}


